@media (max-width:75em){
    html{
        font-size: 56.25%;
    }
    .nav-links{
        gap: 1.5rem;
    }
    .helper{
        margin: 0;
    }

    .header{
        padding: 0 15rem;
    }
    .container-padding{
        padding:20rem 15rem;
    }
    .section-card{
        position: relative;
    }

    .footer{
        padding:10rem 15rem;
    }
}


@media (max-width:68.75em){


    .nav-style{
        display: flex;
    }
    .nav-links{
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        border-radius: 50px;
        opacity:0;
        width: 100%;
        transform: translateY(-100%);
        visibility: hidden;
        pointer-events: none;
        transition: .5s ease-in;
    }
    .nav-open .nav-links{
        
        transform: translateY(0);
        opacity:1;
        visibility: visible;
        pointer-events: auto;
    }

    .header{
        padding: 0 10rem;
    }
    .container-padding{
        padding:20rem 10rem;
    }
    .footer{
        padding:10rem;
    }
}


@media (max-width:61.5em){
    .header{
        padding: 0 5rem;
    }
    .container-padding{
        padding: 15rem 5rem;
    }
    .footer{
        padding:5rem;
    }
}

@media (max-width:50em){
    html{
        font-size: 50%;
    }
    .container-data{
        grid-template-columns: 1fr 1fr;
        row-gap: 4rem;
     column-gap: 4rem;
    }
    .data-img{
        display: none;
    }
    .container-contact{
        grid-template-columns: repeat(auto-fit, minmax(40rem,1fr));
        row-gap: 8rem;
        padding: 0 10rem;
    
    }
}

@media (max-width:37.5em){
    html{
        font-size: 43.75%;
    }
    .nav-logo img{
        width: 90%;
    }
    .nav-style{
        width: 30px;
        height: 30px;
        margin-right: 2rem;
    }
    .container-contact{
        padding: 0 ;
    
    }
}